<div class="quotation-input-card4-blog-post-card" [ngClass]="rootClassName"
  ><div class="quotation-input-card4-container"
    ><span class="quotation-input-card4-text">{{ label }}</span
    ><div class="quotation-input-card4-container1"
      ><div class="quotation-input-card4-container2"
        ><label for="bafflePlate" class="quotation-input-card4-text1"
          >{{ text231 }}</label
        ><select
          id="bafflePlate"
          required="true"
          class="quotation-input-card4-select"
          ><option value="Vertical Baffle">Vertical Baffle</option
          ><option value="Option 1">Option 1</option
          ><option value="Standard (No Baffle)">Standard (No Baffle)</option
          ><option value="Horizontal Baffle">Horizontal Baffle</option
          ><option value="Option 2">Option 2</option
          ><option value="Option 3">Option 3</option></select
        ></div
      ><div class="quotation-input-card4-container3"
        ><label for="numberOfBaffles" class="quotation-input-card4-text2"
          >{{ text1131 }}</label
        ><select
          id="numberOfBaffles"
          required="true"
          class="quotation-input-card4-select1"
          ><option>None</option
          ><option value="2">2</option
          ><option value="Option 1">Option 1</option
          ><option value="1">1</option
          ><option value="3">3</option
          ><option value="Option 2">Option 2</option
          ><option value="Option 3">Option 3</option
          ><option value="4">4</option
          ><option value="5">5</option
          ><option value="6">6</option></select
        ></div
      ></div
    ><div class="quotation-input-card4-container4"
      ><div class="quotation-input-card4-container5"
        ><label for="liftingEyes" class="quotation-input-card4-text3"
          >{{ text2311 }}</label
        ><select
          id="liftingEyes"
          required="true"
          class="quotation-input-card4-select2"
          ><option value="No">No</option
          ><option value="Yes">Yes</option></select
        ></div
      ><div class="quotation-input-card4-container6"
        ><label for="legs" class="quotation-input-card4-text4"
          >{{ text11311 }}</label
        ><select id="legs" required="true" class="quotation-input-card4-select3"
          ><option value="4 (Standard &gt;6500L)">4 (Standard &gt;6500L)</option
          ><option value="3 Adjustable">3 Adjustable</option
          ><option value="Skirt">Skirt</option></select
        ></div
      ></div
    ></div
  ></div
>
