<div class="quotation-input-card1-blog-post-card" [ngClass]="rootClassName"
  ><div class="quotation-input-card1-container"
    ><span class="quotation-input-card1-text">{{ label }}</span
    ><label for="companyName" class="quotation-input-card1-text1"
      >{{ text }}</label
    ><input
      type="text"
      id="companyName"
      required="true"
      [attr.placeholder]="textinputPlaceholder"
      autocomplete="organization"
      class="quotation-input-card1-textinput input" /></div
></div>
