:host { 
  display: contents; 
}
.quotation-input-card1-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.quotation-input-card1-blog-post-card:hover {
  transform: scale(1.02);
}
.quotation-input-card1-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.quotation-input-card1-text {
  color: var(--dl-color-gray-500);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.quotation-input-card1-text1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.quotation-input-card1-textinput {
  width: 100%;
  height: auto;
  min-height: var(--dl-size-size-small);
}






@media(max-width: 1200px) {
  .quotation-input-card1-blog-post-card {
    height: 100%;
  }
  .quotation-input-card1-container {
    width: 100%;
  }
  .quotation-input-card1-text1 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    margin-bottom: var(--dl-space-space-unit);
  }
  .quotation-input-card1-textinput {
    width: 100%;
    height: auto;
    min-height: var(--dl-size-size-small);
  }
}
