:host { 
  display: contents; 
}
.warning-message-modal-loading-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 100vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(150.8deg, rgba(182, 182, 182, 0.9) 94.47%, rgba(93, 93, 93, 0.9) 7.5%);
}
.warning-message-modal-text {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.warning-message-modal-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.warning-message-modal-text07 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.warning-message-modal-container {
  flex: 1;
  width: 50%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: linear-gradient(150.8deg, rgba(182, 182, 182, 0.8) 7.5%, rgba(93, 93, 93, 0.8) 94.47%);
}
.warning-message-modal-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.warning-message-modal-text08 {
  margin-bottom: 0px;
}
.warning-message-modal-icon {
  width: 24px;
  height: 24px;
}
.warning-message-modal-text09 {
  color: var(--dl-color-gray-white);
  font-size: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.warning-message-modal-container2 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.warning-message-modal-button {
  color: var(--dl-color-gray-black);
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.warning-message-modal-button:hover {
  transform: scale(1.02);
}
.warning-message-modal-button1 {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
  transition: 0.3s;
  background-color: var(--dl-color-gray-black);
}
.warning-message-modal-button1:hover {
  transform: scale(1.02);
}
@media(max-width: 1200px) {
  .warning-message-modal-loading-overlay {
    min-height: 100vh;
    background-image: linear-gradient(150.8deg, rgba(182, 182, 182, 0.8) 94.47%, rgba(93, 93, 93, 0.8) 7.5%);
  }
  .warning-message-modal-text07 {
    color: var(--dl-color-gray-white);
    align-self: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .warning-message-modal-container {
    flex: 1;
    width: 50%;
    align-self: center;
    background-image: linear-gradient(150.8deg, rgba(182, 182, 182, 0.8) 7.5%, rgba(93, 93, 93, 0.8) 94.47%);
  }
  .warning-message-modal-button {
    color: var(--dl-color-gray-black);
    background-color: var(--dl-color-gray-white);
  }
  .warning-message-modal-button1 {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 991px) {
  .warning-message-modal-loading-overlay {
    flex-direction: column;
  }
  .warning-message-modal-text {
    text-align: center;
  }
  .warning-message-modal-text07 {
    text-align: center;
  }
  .warning-message-modal-container {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .warning-message-modal-loading-overlay {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .warning-message-modal-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .warning-message-modal-container {
    width: 70%;
    align-self: center;
  }
  .warning-message-modal-text09 {
    font-size: 1.5rem;
  }
}
@media(max-width: 479px) {
  .warning-message-modal-loading-overlay {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .warning-message-modal-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .warning-message-modal-container {
    width: 80%;
    align-self: center;
  }
  .warning-message-modal-container1 {
    flex: 1;
  }
  .warning-message-modal-text09 {
    width: auto;
  }
  .warning-message-modal-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
