:host { 
  display: contents; 
}
.error-message-modal-loading-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(150.8deg, rgba(182, 182, 182, 0.9) 94.47%, rgba(93, 93, 93, 0.9) 7.5%);
}
.error-message-modal-text {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.error-message-modal-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.error-message-modal-text07 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.error-message-modal-container {
  flex: 1;
  width: 60%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: linear-gradient(150.8deg, rgba(182, 182, 182, 0.8) 7.5%, rgba(93, 93, 93, 0.8) 94.47%);
}
.error-message-modal-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.error-message-modal-text08 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.error-message-modal-icon {
  width: 24px;
  height: 24px;
}
.error-message-modal-text09 {
  margin-bottom: var(--dl-space-space-twounits);
}
.error-message-modal-text10 {
  color: var(--dl-color-gray-white);
  font-size: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.error-message-modal-container2 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.error-message-modal-button {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
  transition: 0.3s;
  background-color: var(--dl-color-gray-black);
}
.error-message-modal-button:hover {
  transform: scale(1.02);
}
@media(max-width: 1200px) {
  .error-message-modal-loading-overlay {
    min-height: 100vh;
    background-image: linear-gradient(150.8deg, rgba(182, 182, 182, 0.8) 94.47%, rgba(93, 93, 93, 0.8) 7.5%);
  }
  .error-message-modal-text07 {
    color: var(--dl-color-gray-white);
    align-self: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .error-message-modal-container {
    width: 60%;
    align-self: center;
    background-image: linear-gradient(150.8deg, rgba(182, 182, 182, 0.8) 7.5%, rgba(93, 93, 93, 0.8) 94.47%);
  }
  .error-message-modal-button {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 991px) {
  .error-message-modal-loading-overlay {
    flex-direction: column;
  }
  .error-message-modal-text {
    text-align: center;
  }
  .error-message-modal-text07 {
    text-align: center;
  }
  .error-message-modal-container {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .error-message-modal-loading-overlay {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .error-message-modal-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .error-message-modal-container {
    align-self: center;
  }
  .error-message-modal-text10 {
    font-size: 1.5rem;
  }
}
@media(max-width: 479px) {
  .error-message-modal-loading-overlay {
    width: 100%;
    height: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .error-message-modal-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .error-message-modal-container {
    align-self: center;
  }
  .error-message-modal-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
