<div class="quotation-input-card3-blog-post-card" [ngClass]="rootClassName"
  ><div class="quotation-input-card3-container"
    ><span class="quotation-input-card3-text">{{ label }}</span
    ><div class="quotation-input-card3-container01"
      ><div class="quotation-input-card3-container02"
        ><label for="external-casing-color" class="quotation-input-card3-text01"
          >{{ text }}</label
        ><select
          id="external-casing-color"
          required="true"
          class="quotation-input-card3-select"
          ><option value="White (Standard)">White (Standard)</option
          ><option value="Silver">Silver</option
          ><option value="Stucco">Stucco</option></select
        ></div
      ><div class="quotation-input-card3-container03"
        ><label
          for="plastic-top-bottom-color"
          class="quotation-input-card3-text02"
          >{{ text1 }}</label
        ><select
          id="plastic-top-bottom-color"
          required="true"
          class="quotation-input-card3-select1"
          ><option value="Green (Standard)">Green (Standard)</option
          ><option value="Black">Black</option
          ><option value="Grey">Grey</option
          ><option value="Red">Red</option></select
        ></div
      ></div
    ><div class="quotation-input-card3-container04"
      ><div class="quotation-input-card3-container05"
        ><label for="insulation-thickness" class="quotation-input-card3-text03"
          >{{ text2 }}</label
        ><select
          id="insulation-thickness"
          required="true"
          class="quotation-input-card3-select2"
          ><option value="100 mm (Standard)">100 mm (Standard)</option
          ><option value=" 75 mm">75 mm</option
          ><option value="150 mm">150 mm</option></select
        ></div
      ><div class="quotation-input-card3-container06"
        ><label for="site-location" class="quotation-input-card3-text04"
          >{{ text11 }}</label
        ><select
          id="site-location"
          required="true"
          class="quotation-input-card3-select3"
          ><option value="Ireland">Ireland</option
          ><option value="Uk">Uk</option
          ><option value="Euro Zone">Euro Zone</option
          ><option value="Rest of the World">Rest of the World</option
          ><option value="EX Works">EX Works</option></select
        ></div
      ></div
    ><div class="quotation-input-card3-container07"
      ><div class="quotation-input-card3-container08"
        ><label for="working-pressure" class="quotation-input-card3-text05"
          >{{ text23 }}</label
        ><select
          id="working-pressure"
          required="true"
          class="quotation-input-card3-select4"
          ><option value="3 (Standard)">3 (Standard)</option
          ><option value="4.5">4.5</option
          ><option value="6">6</option
          ><option value="10">10</option></select
        ></div
      ><div class="quotation-input-card3-container09"
        ><label for="tank-type-hotCold" class="quotation-input-card3-text06"
          >{{ text113 }}</label
        ><select
          id="tank-type-hotCold"
          required="true"
          class="quotation-input-card3-select5"
          ><option value="Hot Water Tank">Hot Water Tank</option
          ><option value="Cold Water Tank">Cold Water Tank</option></select
        ></div
      ></div
    ><div class="quotation-input-card3-container10"
      ><div class="quotation-input-card3-container11"
        ><label for="quantity" class="quotation-input-card3-text07"
          >{{ text22 }}</label
        ><input
          type="number"
          id="quantity"
          max="1000"
          min="1"
          required="true"
          [attr.placeholder]="textinputPlaceholder3"
          class="quotation-input-card3-textinput input" /></div
      ><div class="quotation-input-card3-container12"
        ><label for="internal-external" class="quotation-input-card3-text08"
          >{{ text112 }}</label
        ><select
          id="internal-external"
          required="true"
          class="quotation-input-card3-select6"
          ><option value="Internal (Standard)">Internal (Standard)</option
          ><option value="External">External</option></select
        ></div
      ></div
    ><div class="quotation-input-card3-container13"
      ><div class="quotation-input-card3-container14"
        ><label
          for="horizontal-vertical-standing-tank"
          class="quotation-input-card3-text09"
          >{{ text21 }}</label
        ><select
          id="horizontal-vertical-standing-tank"
          required="true"
          class="quotation-input-card3-select7"
          ><option value="Vertical (Standard)">Vertical (Standard)</option
          ><option value="Horizontal">Horizontal</option></select
        ></div
      ><div class="quotation-input-card3-container15"
        ><label for="tank-material" class="quotation-input-card3-text10"
          >{{ text111 }}</label
        ><select
          id="tank-material"
          required="true"
          class="quotation-input-card3-select8"
          ><option value="Stainless Steel">Stainless Steel</option
          ><option value="Mild Steel">Mild Steel</option></select
        ></div
      ></div
    ></div
  ></div
>
