:host { 
  display: contents; 
}
.success-message-card-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.success-message-card-blog-post-card:hover {
  transform: scale(1.02);
}
.success-message-card-container {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: linear-gradient(150.8deg, rgba(182, 182, 182, 0.8) 7.5%, rgba(93, 93, 93, 0.8) 94.47%);
}
.success-message-card-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.success-message-card-text {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.success-message-card-icon {
  width: 24px;
  height: 24px;
}
.success-message-card-text1 {
  margin-bottom: var(--dl-space-space-twounits);
}
.success-message-card-text2 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.success-message-card-container2 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.success-message-card-button {
  color: var(--dl-color-gray-white);
  align-self: center;
  text-align: center;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 1200px) {
  .success-message-card-container {
    flex: 1;
    width: auto;
    align-self: center;
    background-image: linear-gradient(150.8deg, rgba(182, 182, 182, 0.8) 7.5%, rgba(93, 93, 93, 0.8) 94.47%);
  }
  .success-message-card-button {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 991px) {
  .success-message-card-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .success-message-card-container {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .success-message-card-blog-post-card {
    flex-direction: column;
  }
  .success-message-card-container {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .success-message-card-container {
    align-self: center;
  }
  .success-message-card-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
