<div class="success-message-modal-loading-overlay"
  ><span class="success-message-modal-text"
    ><span
      ><span
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
        volutpat turpis. <span [innerHTML]="rawtn50"></span></span
      ><span> <span [innerHTML]="raw52w2"></span></span></span
    ><br /><span
      ><span
        >Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
        <span [innerHTML]="raw17xt"></span></span
      ><span> <span [innerHTML]="raw9war"></span></span></span></span
  ><div class="success-message-modal-blog"
    ><h1 class="success-message-modal-text07">{{ heading }}</h1
    ><div class="success-message-modal-container"
      ><div class="success-message-modal-container1"
        ><h1 class="success-message-modal-text08">{{ title }}</h1
        ><svg
          id="successMessage-close-icon"
          viewBox="0 0 1024 1024"
          class="success-message-modal-icon"
        >
          <path
            d="M671.429 754.857l83.429-83.429c7.429-7.429 7.429-18.857 0-26.286l-133.143-133.143 133.143-133.143c7.429-7.429 7.429-18.857 0-26.286l-83.429-83.429c-7.429-7.429-18.857-7.429-26.286 0l-133.143 133.143-133.143-133.143c-7.429-7.429-18.857-7.429-26.286 0l-83.429 83.429c-7.429 7.429-7.429 18.857 0 26.286l133.143 133.143-133.143 133.143c-7.429 7.429-7.429 18.857 0 26.286l83.429 83.429c7.429 7.429 18.857 7.429 26.286 0l133.143-133.143 133.143 133.143c7.429 7.429 18.857 7.429 26.286 0zM1024 164.571v694.857c0 50.286-41.143 91.429-91.429 91.429h-841.143c-50.286 0-91.429-41.143-91.429-91.429v-694.857c0-50.286 41.143-91.429 91.429-91.429h841.143c50.286 0 91.429 41.143 91.429 91.429z"
          ></path></svg></div
      ><span id="success-message" class="success-message-modal-text09"
        >{{ successMessage }}</span
      ><div id="close-button" class="success-message-modal-container2"
        ><button
          id="successModal-close-button"
          type="button"
          class="success-message-modal-button button"
          >{{ button }}</button
        ></div
      ></div
    ></div
  ></div
>
